.button{
    -fx-border-color: white;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.*
{
    padding: 0;
    margin: 0;
    border: 0;
    -fx-background-color: #1a1a1a;
}

#btnVideo {
  -fx-glass-color: rgba(95, 158, 160, 0.9);
}